<!-- center icon instructions
https://forum.ionicframework.com/t/in-ionic-naitve-google-map-how-to-keep-marker-in-center-when-i-drag-map-or-on-camera-move-start-like-uber-do-or-careem/143573/2 -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>visMap</ion-title>     -->
    <ion-searchbar
      placeholder="Search for a place"
      (search)="searchPlaces($event.target.value)"
      animated
    ></ion-searchbar>
    <ion-buttons slot="end" class="ion-padding">
      <ion-icon
        slot="icon-only"
        name="locate-outline"
        (click)="locateUser()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div id="map_canvas">
    <img src="assets/marker.png" alt="" id="centerMarkerImage" />
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-button
          expand="block"
          color="tertiary"
          (click)="goToVisImagePage()"
        >
          <ion-icon
            slot="start"
            [ios]="'images-outline'"
            [md]="'images-sharp'"
          ></ion-icon
          >Visualize</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
